/* CSS Class */
* {
    box-sizing: border-box;
}
body{
  background: rgb(19,19,20);
background: linear-gradient(90deg, rgba(19,19,20,1) 0%, rgba(59,56,56,1) 50%, rgba(0,0,0,1) 100%);
}
h1{
    margin: 0;
    font-family: 'Grandstander', cursive;

}
a{
  color: #F8F8FF;
}
a:hover {
  color: rgb(19,19,20);
  background: rgb(247,173,94);
  background: linear-gradient(90deg, rgba(247,173,94,1) 0%, rgba(250,141,26,1) 50%, rgba(247,173,94,1) 100%);
}
h2{
  color: #F8F8FF;
  font-family: 'Roboto', sans-serif;
}
.jumbotron-fluid{
    padding: 10px;
}
.center h2{
    text-align: center;
}
.center li{
    text-align: center;
}
li {
    list-style: none;
}
/* -------- */
.header-bg{
  background: rgb(247,173,94);
background: linear-gradient(90deg, rgba(247,173,94,1) 0%, rgba(250,141,26,1) 50%, rgba(247,173,94,1) 100%);;
}
.jumbotron-fluid{
    /* background-color: #f7ad5e; */

    text-align: center;
}
.jumbotron-fluid h1{
    color: #000000;
    font-size: 8rem;
}
.jumbotron-fluid p{
    color: #000000;

}
#footer{
    background-color: blue;
    text-align: center;
    color: red;
    bottom: 0px;
}

.list-grid ol{
    column-count: 3;
}

@media (max-width: 768px) {
    .jumbotron-fluid h1 {
        font-size: 4rem;
    }
}
.bottom-container{

  width: 100%;
  position: fixed;
  padding: 50px;
  padding-bottom: 0;
  bottom: 0;
  font-size: 20px;
  background: rgb(19,19,20);
background: linear-gradient(90deg, rgba(19,19,20,1) 0%, rgba(59,56,56,1) 50%, rgba(0,0,0,1) 100%);
  color: #eeecda;
  text-align: center;
  font-family: 'Bangers', cursive;
}
